@charset "EUC-KR";

.container {
	width: 70%;
}
.container2{
	width: 50%;
	margin: auto;
}

#h2 {
	text-align: center;
	border-top: 2px solid gray;
	border-bottom: 2px solid gray;
	width: 70%;
	margin: auto;
	padding: 1%;
	font-size: 12pt;
	text-align: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#form {
	width: 70%;
	margin: auto;
}

.body {
	padding-top: 70px;
	padding-bottom: 30px;
}

.btn-primary {
	color: #fff;
	background-color: black;
	border-color: black;
	width: 100%;
	margin: 3%;
}

.btn-primary:hover {
	color: black;
	background-color: gray;
	border-color: gray;
	width: 100%;
	margin: 3%;
}

.btn-primary:focus {
	color: black;
	background-color: gray;
	border-color: gray;
	width: 100%;
	margin: 3%;
}

.btlistsav {
	display: flex;
	margin: auto;
}

.btn-sm {
	font-size: 1rem;
}

#file-uploard-button {
	padding: 0px 0px
}

a.link_del {
	border: 1px solid gray;
	color: gray;
	font-size: small;
	text-decoration-line: none;
	/* text-decoration : none; */
}

#form {
	width: 70%;
	margin: auto;
}

.paymentlist {
	color: gray;
	text-decoration: none;
	position: relative;
	top: 5px;
	right: 4px;
}

.paymentlist:hover {
	color: black;
}

.imgbox {
	float: left;
	width: 50%;
}

.textbox {
	float: right;
	width: 50%;
	height: 100%;
	margin-bottom:10%;
}

.product {
	text-align: center;
	border-bottom: 1px solid #c0c0c0;
	padding-bottom: 5px;
}

.num{
	width: 40%;
	text-align: center;
	padding-left: 25px;
}

.img{
	width: 100%;
	
}

.line {
	clear: both;
	text-align: center;
	border-top: 1px solid #dee2e6; 
}

.thumb{
	width:90%; 
	height:300px; 
	margin-bottom:10%;
}