
/* 리셋 CSS */
* {margin:0;padding:0;box-sizing:border-box;}
ul, li {list-style:none;}

ol, ul {padding-left: 0rem;}

/* 슬라이드 Style */
.slidebox {max-width:1000px;margin:0 auto;}
.slidebox .slidelist {white-space:nowrap;font-size:0;overflow:hidden;}
.slidebox .slidelist .slideitem {position:relative;display:inline-block;vertical-align:middle;width:100%;transition:all 1s;}
.slidebox .slidelist .slideitem > a {display:block;width:auto;position:relative;}
.slidebox .slidelist .slideitem > a img {max-width:100%;}
.slidebox .slidelist .slideitem > a label {position:absolute;top:50%;transform:translateY(-50%);padding:20px;border-radius:50%;cursor:pointer;}
.slidebox .slidelist .slideitem > a label.prev {left:20px;background:url('/images/home/left-arrow.png') center center / 50% no-repeat;}
.slidebox .slidelist .slideitem > a label.next {right:20px;background:url('/images/home/right-arrow.png') center center / 50% no-repeat;}


[name="slide"] {display:none;}
#slide01:checked ~ .slidelist .slideitem {transform:translateX(0);animation:slide01 15s infinite;}
#slide02:checked ~ .slidelist .slideitem {transform:translateX(-100%);animation:slide02 15s infinite;}

@keyframes slide01 {
	0% {left:0%;}
	49% {left:0%;}
	50% {left:-100%}
	99% {left:-100%;}
	100% {left:0;}
}

@keyframes slide02 {
	0% {left:0%;}
	49% {left:0%;}
	50% {left:100;}
	99% {left:100;}
	100% {left:0%;}
}

/* 슬라이드에 들어가야할 참조자료값 before
@media (hover: hover)
.carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    */



.paymentlist{
	color: gray;
	text-decoration: none;
	position: relative;
	top:5px;
	right: 4px;
}

.paymentlist:hover{
	color: black;
}

#flex {
	display: flex;
	flex-wrap: wrap;
	width: 55%;
	margin: auto;
}

.lab {
	text-align: center;
}


/* slider2 */

img {
	max-width: 100%;
	height: auto;
}

.slider {
	width: 60%;
	margin: 0px auto;
}

.slider .slick-slide {
	margin: 10px;
}

.slick-prev:before, .slick-next:before {
	color: #444444;
}


.eight h1 {
  text-align:center;
 
  text-transform:uppercase;
  font-size:26px; letter-spacing:1px;
  
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 16px 0;
  grid-gap: 22px;
}

.eight h1:after,.eight h1:before {
  content: " ";
  display: block;
  border-bottom: 1px solid #dee2e6;
  background-color:#f8f8f8;
}
